.title {
  font-family: 'Libre Baskerville', serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.padding-top-normal {
  padding-top: 30px;
}

.background-hero {
  background-color: #004C99;
  z-index: 1000;
  width: 100%;
}

.text-white {
  color: white !important;
}

.movie-title {
  font-size: 72px;
  font-weight: 700;
}

.blue-text {
  color: #004C99;
}

.bold-text {
  font-weight: 700;
}

.align-left {
  text-align: left;
}

.big-padding {
  padding: 30px;
}

.position-fixed {
  position: fixed;
}

.list {
  overflow-y: scroll;
  position: relative;
}

.hoverable:hover {
  text-decoration: underline;
  color: #004C99;
}
